# Зависимости
node_modules/

# Скомпилированный код
dist/

# Данные (чтобы не затирать чужих юзеров при пулле)
data/*.json

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Настройки IDE
.vscode/
.idea/